<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
  } );
  </script>
</head>
<body>
<div class="row-6 m-5">
         <div class="col-7">
             <h2>Выбранные направления</h2>
             <br>
             <div class="layer_2">
                 <div class="select-container">
                    <ul id="sortable">
                    {% for dir in user_dir %}
                        <li class="ui-state-default">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                            {{forloop.counter}}  {{ dir.direct.title}}
                            {% for prof in user_prof %}
                                <div class="">{% if prof.profile.direct_id == dir.direct_id %}- {{ prof.profile.name }}{% endif %}</div>
                            {% endfor %}
                        </li>
                    {% endfor %}
                    </ul>
                 </div>
             </div>
         </div>
</body>
</html>